<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Unemployment Rates vs GDP Per Capita EU Countries</title>
<link rel="stylesheet" href="style/style.css" type="text/css" media="screen" />
<script src="js/d3.v6.min.js"></script> <!--D3 Version-->
<script defer type="text/javascript" src="app.js"></script>
</head>

<div id="main-wrapper">
    
	<h1>Unemployment Rates vs GDP Per Capita</h1>
	<div id="yearmeta" class="centered">
		In December <span id="curryear"></span>
		
		<span id="pauseplay">(Pause)</span>
	</div>
	
	<div id="chart"></div>
	
	<div class="clr"></div>
    
</div>

