<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inflation vs Unemployment Rates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style_visual.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/phillips_curve/html5slider.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script defer type="text/javascript" src="../static/phillips_curve/appPhillips.js"></script>
</head>

<body class="background-img">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><h1><a href="/"><img src=../static/images/barcharteuro.jpg alt="barcharteuro" width="150" height="150" style="border: whitesmoke 3px solid"/></a> The European Union Economy</h1>
          </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <h5>Home</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resources">
                            <h5>Resources</h5>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <h5>Economic Indicators</h5>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <li><a class="dropdown-item" href="choropleth"><strong>Population</strong></a></li>
                        <li><a class="dropdown-item" href="barchartrace"><strong>Gross Domestic Product </strong></a></li>
                        <li><a class="dropdown-item" href="beeswarm"><strong>Gross Domestic Product vs Unemployment Rate</strong></a></li>
                        <li><a class="dropdown-item" href="Phillips"><strong>Inflation vs Unemployment Rate</strong></a></li>

                        </ul>
                </ul>
            </div>
        </div>
    </nav>

    <div class='container'>
        <div id="inflation" style="text-align: center">
            <h2>Inflation vs Unemployment Rates</h2>
            <hr>
            <!-- <div class="row"> -->
                <!-- <div class="col-xs-12  col-md-9"> -->

                    <input id="slider" type="range" min="2005" max="2019" value="2005" step="1" />
                    <span id="range">2005</span>
                    <button name="play" id="play">Play</button>
                    <div id="chart"></div>
                    <br>
                    
                <!-- </div> -->




            <!-- </div> -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>